/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Reusables
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Work
        4.4 Sevices
        4.5 Content
        4.6 Footer
     5. Media Queries

////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --light-purple: #F2F0FF;
    --light-grey: #F3F6F9;
    --grey: #7A7A7A
}

/*////////////////////////
    2. Typography
////////////////////////*/
h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, 'Times New Roman', serif;
}
h1, h2 {
    font-size: 46px;
    padding: 16px 0;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
    padding: 12px 0;
    margin: 24px 0;
}

h5 {
    font-size: 32px;
    padding: 12px 0;
}

h6 {
    font-size: 32px;
    line-height: 1.2;
    padding: 12px 0;
}

p {
    margin: 12px 0;
}

/*////////////////////////
    3. Reusables
////////////////////////*/
.outer-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-content-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-restrictor {
    max-width: 850px;
    text-align: center;
}

.area-padding {
    padding: 100px 0;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: #5722CD;
}

button {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #ED4385;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    padding: 25px 40px;
    margin: 28px 0;
}

button:hover {
    cursor: pointer;
}


/*////////////////////////
    4. Areas
////////////////////////*/
/*///////////// 4.1 Header /////////////*/

#header {
     background: var(--blue);
     background: linear-gradient(129deg, var(--blue) 0%, var(--blue) 26%, var(--purple)  100%);
     color: white;
     padding: 30px 0;
     position: relative;
 }

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.navigation ul {
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation a {
    color: white;
}

.work-together {
    padding: 100px 0;
    margin-bottom: 88px;
    font-size: 28px;
}

.header__squiggle {
    display: block;
    width: 78px;
    height: 100px;
    margin: 60px 0 0 0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 39px);
    background-image: url(./assets/squiggle_line_stripe.svg);
}


/*///////////// 4.2 Introduction /////////////*/

#introduction {
    background-color: white;
    color: #5722CD;
}
.intro-link {
    color: #0c0c0c;
    font-weight: 500;
    margin-top: 100px;
}

/*///////////// 4.3 Work /////////////*/

#work {
    background-color: #F3F6F9;
}

.work-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 100px 0;
}

.work-article:nth-of-type(even) {
    flex-direction: row-reverse;
}

.work-article-image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.work-article-image-wrapper img {
    width: 100%;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.work-article-container {
    flex-basis: 480px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 50px 50px 50px;
}

.work-article-squiggle {
    margin-top: 24px;
    width: 57px;
    height: 6px;
    background-image: url(./assets/squiggle_line.svg);
}

.work-article-container p {
    font-weight: 400;
    margin: 50px 0;
}

.work-article-link {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*///////////// 4.4 Services /////////////*/

#services {
    background-color: white;
}

#services > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.service-tile {
    display: flex;
    flex-direction: column;
    flex-basis: 384px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 40px;
    background-color: white;
    border: 1px solid #5722CD;
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.1);
    color: #7A7A7A;
    font-size: 16px;
}

.service-tile-title {
    color: #5722CD;
    font-size: 24px;
}

.service-tile-image {
    width: 80px;
}

/*///////////// 4.5 Contact /////////////*/

#contact {
    background-color: var(--blue);
    background: linear-gradient(129deg, var(--blue) 0%, var(--blue) 26%, var(--purple)  100%);
    color: white;
    position: relative;
}

.contact-content-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.contact-content-form input,
.contact-content-form textarea {
    background-color: #ffffff;
    border: 1px solid #7A7A7A;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    display: block;
    font-size: 16px;
    color: #7A7A7A;
    width: 100%;
}

.contact-content-form input::placeholder,
.contact-content-form textarea::placeholder {
    color: var(--grey);
}

.contact-content-form label {
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
}

.contact-content-form button {
    width: 200px;
    align-self: center;
}

/*///////////// 4.5 Footer /////////////*/

#footer {
    background-color: var(--black);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

/*////////////////////////
    5. Media Queries
////////////////////////*/

@media screen and (max-width: 576px) {
    h1, h2 {
        font-size: 36px;
        padding: 16px 0;
    }

    h3 {
        font-size: 26px;
    }

    h6 {
        font-size: 22px;
        line-height: 1.5;
        padding: 12px 0;
    }

    .navigation {
        justify-content: center;
    }

    .navigation a {
        font-size: 16px;
        font-weight: 600;
    }

    .introduction-link {
        margin: 50px 0 0 0;
    }

    .work-article:nth-of-type(even),
    .work-article {
        flex-direction: column;
        margin: 0;
    }
}